@font-face {
  font-family: "Icon";
  src: url("../fonts/Icon.eot");
  src: url("../fonts/Icon.eot?#iefix") format("eot"),
    url("../fonts/Icon.woff2") format("woff2"),
    url("../fonts/Icon.woff") format("woff"),
    url("../fonts/Icon.ttf") format("truetype"),
    url("../fonts/Icon.svg#Icon") format("svg");
}

.icon:before {
  font-family: "Icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-line:before {
  content: "\E001";
}
